---
layout: page
title: 关于我
header: 关于我的个人介绍
group: navigation
---

{% include JB/setup %}

<div id="ace-content" class="ace-container-shift" style="margin-top: -50px">
    <div class="ace-container">

        <div class="ace-paper-stock">
            <main class="ace-paper clearfix">
                <div class="ace-paper-cont clear-mrg">
                    <!-- START: PAGE CONTENT -->
                    <div class="padd-box clear-mrg">

                        {% include about/resumer_01-basic.html %}

                        {% include about/resumer_02-profetional.html %}

                        {% include about/resumer_03-personal_project.html %}

                    </div><!-- .padd-box -->
                    <!-- END: PAGE CONTENT -->
                </div><!-- .ace-paper-cont -->
            </main><!-- .ace-paper -->
        </div><!-- .ace-paper-stock -->
    </div><!-- .ace-container -->
</div><!-- #ace-content -->

<link rel="stylesheet" href="{{ '/css/about_style.css' | prepend: site.baseurl }}">
<link href="{{ '/assets/fonts/fonts/icomoon/style.css' | prepend: site.baseurl }}" rel="stylesheet">

<link href="{{ '/js/plugins/highlight/solarized-light.css' | prepend: site.baseurl }}" rel="stylesheet">

<!-- Scripts -->
<script type="text/javascript" src="{{ '/js/vendor/modernizr-3.3.1.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/vendor/jquery-1.12.4.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/plugins/highlight/highlight.pack.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/plugins/jquery.mCustomScrollbar.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/plugins/isotope.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/plugins/progressbar.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/plugins/slick.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/options.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/about-me-main.js' | prepend: site.baseurl }}"></script>


{% include canvas-nest.html %}