---
layout: default
title: 主页
---

<div class="main-post-list hidden">
  {% for post in paginator.posts %}
  <article class="post2">
    {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title | strip_html | strip_newlines | truncate: 28}}</a></h2>
      <p>{{ post.content | strip_html | strip_newlines | truncate: 50 }}</p>
      <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
      <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 50 | divided_by: 50 | append: " minute read" }}{% endunless %}</span>
    </div>
    {% else %}
    <div class="post-content2">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title | strip_html | strip_newlines | truncate: 45}}</a></h2>
      <p>{{ post.content | strip_html | strip_newlines | truncate: 50 }}</p>
      <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
      <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 50 | divided_by: 50 | append: " minute read" }}{% endunless %}</span>
    </div>
    {% endif %}
  </article>
  {% endfor %}
  {% include pagination.html %}

</div>

{% include canvas-nest.html %}


