<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经历/工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2015-12T2016-1">
                        <span>2015.12-2016.1</span>
                    </time>
                    <h4 style="margin-top: -0.5em">课程设计</h4>
                    <span class="education-company">实验室资产管理系统（前端） | 武汉理工大学</span>
                    <p>通过实用实验室管理系统实现高效实验室、实验仪器与实验耗材管理的规范化、信息化</p>
                    <p>运用了uml技术设计用例等，运用html+css+javascript编写前端界面</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-04T2016-05">
                        <span>2016.4-2016.5</span>
                    </time>
                    <h4 style="margin-top: -0.5em">课程设计</h4>
                    <span class="education-company">青匆校园留言板 | 武汉理工大学</span>
                    <p>简单的留言板实现用户与网站之间的沟通</p>
                    <p>运用了ASP+Access技术实现留言板</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-06-27T2016-07-01">
                        <span>2016.6.27-2016.7.1</span>
                    </time>
                    <h4 style="margin-top: -0.5em">能力拓展训练</h4>
                    <span class="education-company">易购商城后台管理系统（前端） | 武汉理工大学</span>
                    <p>实现电商系统的后台管理</p>
                    <p>运用html+css+javascript实现管理系统前端界面的开发</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-07-05T2016-07-14">
                        <span>2016.7.5-2016.7.14</span>
                    </time>
                    <h4 style="margin-top: -0.5em">长沙实习</h4>
                    <span class="education-company">博客系统（前端） | 武汉理工大学</span>
                    <p>实现个人博客系统</p>
                    <p>运用html5、css、javascript、jquery、bootstrap、jsp等技术实现前端界面的开发</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-10T2016-11">
                        <span>2016.10-2016.11</span>
                    </time>
                    <h4 style="margin-top: -0.5em">强化训练</h4>
                    <span class="education-company">差旅管理系统（前端） | 武汉理工大学</span>
                    <p>实现企业员工差旅的相关管理</p>
                    <p>运用html5、css、javascript、jquery、bootstrap、jsp等技术实现前端界面的开发</p>
                    <p>荣获“优秀项目”荣誉证书</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2017-08T2017-12">
                        <span>2017.08-2017.12</span>
                    </time>
                    <h4 style="margin-top: -0.5em">H5开发</h4>
                    <span class="education-company">TCL金融CRM webApp项目 | TCL金融科技</span>
                    <p>使用vuejs相关，参与实际的功能开发</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2017-07TNow">
                        <span>2017.07至今</span>
                    </time>
                    <h4 style="margin-top: -0.5em">Java开发</h4>
                    <span class="education-company">TCL金融大型CRM项目 | TCL金融科技</span>
                    <p>使用java、sql等相关技术，参与实际的功能开发</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2018-09TNow">
                        <span>2018.09至今</span>
                    </time>
                    <h4 style="margin-top: -0.5em">Java开发</h4>
                    <span class="education-company">TCL金融科技管理系统项目 | TCL金融科技</span>
                    <p>使用SSM后台框架、layui前端ui等相关技术，参与实际的功能开发</p>
                </div>
                <!-- .education-box -->
            </div>
        </div>
    </div>
</section><!-- .section -->