<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/assets/about_img/school.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>武汉理工大学</strong>
                        <span>2013 - 2017 | 计算机科学与技术学院 | 软件工程 | 本科</span>
                    </div>

                    <div class="ref-cont clear-mrg">
                        <p>•	奖  励：2016，学校二等奖学金；2016，院优秀学生干部</p>
                        <p>•	任  职：2014.9-2015.7，任院自强社策划部部长；2015.9-2017.6，任班长</p>
                        <p>•	证  书：大学英语四级/CET4证书（2014.12）、普通话二级甲等证书（2015.6）、
                            党校结业证书（2014.12）、献血证（2014.3）</p>
                        <p>•	主修课程：计算机科学导论、离散结构、面向对象程序设计C、数据结构A、java语言程序
                            设计B、uml建模技术、操作系统B、软件工程导论、编译原理B、软件设计与体系结构B、软件需求工程B、数据库系统原理B、计算机网络D、软件项目管理B、软件质量保证与测试等
                        </p>
                    </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->