<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <!--<div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/assets/about_img/PMP.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h4 class="award-title">   PMP</h4>
            </div>
        </div>&lt;!&ndash; .col-sm-6 &ndash;&gt;

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/assets/about_img/udemy.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h4 class="award-title">   Udemy</h4>
            </div>
        </div>--><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->