<section class="section brd-btm">
    <div class="row">
        <div class="col-sm-12 clear-mrg text-box">
            <h2 class="title-lg text-upper">关于我</h2>

            <p><b>Helo, 我是MealieLin</b><br>

            </p>

            <!--<p class="text-right">
                <img src="img/uploads/signature.png" alt="">
            </p>-->
        </div>
    </div>
</section><!-- .section -->

<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>女</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>10 Jan 1993</dd>

                <dt class="text-upper">手机</dt>
                <dd>xxxxxxxxxxx</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:mealie_lin@163.com">mealie_lin@163.com</a></dd>

            </dl>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">语言</h2>

            <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                <strong class="progress-title">英语</strong>
                <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                <span class="progress-text text-muted">CET-4</span>
            </div>

            <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                <strong class="progress-title">闽南语</strong>
                <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                <span class="progress-text text-muted">祖籍</span>
            </div>

            <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                <strong class="progress-title">潮汕语</strong>
                <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                <span class="progress-text text-muted">出生地</span>
            </div>

        </div><!-- .col-sm-6 -->


    </div><!-- .row -->
</section><!-- .section -->